.calculator-scene {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 700px;
  width: 100%;

  .calculator {
    margin-top: 14px;
    width: 50%;
    transform: rotateZ(3deg);
    max-width: 200px;
    max-height: 400px;
    padding: 8px 14px;
    box-shadow: 0 15px 30px #000;
    border-radius: 5px;
    background-color: rgb(25, 25, 25);
    background-image: url("https://i.pinimg.com/originals/81/66/ce/8166ce752069e7df3a55b993fe9ae1d4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 1.5s;

    &:hover {
      transform: scale3d(2, 2.5, 2.5) rotateZ(0deg) rotateX(-25deg) translateY(-100px);
      background-color: rgb(28, 28, 28);
      box-shadow: 0 25px 40px #000;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(to top, rgba(0,0,0,.3), rgba(0,0,0,.6));
      z-index: -1;
    }

    hr {
      border-color: rgba(0,0,0,.5);
      margin: 16px 0;
    }

    h1 {
      transform: rotateX(0deg);
      background: rgb(195, 214, 201);
      color: #000;
      border: 1px solid black;
      //animation: text-animate 1s infinite;
      @keyframes text-animate {
        from {
          color: rgba(0,0,0,0);
        }
        to {
          color: rgba(0,0,0,1);
        }
      }
    }

    button {
      transform: rotateX(0deg);
      padding: 8px 0;
      background: rgba(0, 0, 0, 0.4);
      border: none;
      color: rgba(255, 255, 255, 0.685);
      font-weight: 600;
      transition: 0.1s;
      text-shadow: 0 1px 2px #000;

      &:hover {
        cursor: pointer;
        box-shadow: none;
      }
    }

    &__operation-buttons {
      display: flex;

      & button {
        width: calc(100% / 4);
        background: rgba(0, 0, 0, 0.5);
        box-shadow: 0 1px 2px #000;
      }
    }

    &__numbers {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      padding-bottom: 14px;

      & button {
        width: calc(100% / 3);
        box-shadow: 0 1px 2px #000;
      }
    }
  }
}
