body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #222222;
  perspective: 400px;
  background-image: url("https://images.pond5.com/lobby-hotel-blurred-background-footage-085160468_prevstill.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  width: 1500px;
  height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(30deg) scale3d(.5,.5,.5) translateY(100px);
  background-image: url("https://image.freepik.com/free-photo/lumber-desk-texture_1194-6753.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 400px;
  width: 100%;
}
